@{
    ViewData["Title"] = "Contatos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Gustavo Soares<br />
    Arquiteto de Software<br />
    <abbr title="Telefone">P:</abbr>
    (11) 97964-2125
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:gu.cgsoares@gmail.com.br">gu.cgsoares@gmail.com.br</a><br />
</address>
