@{
    ViewData["Title"] = "Home Page";
}

<h1>Fala galera!</h1>
<p>Bem vindos ao teste de implementação do Basket Microservice:</p>
<ul>
    <li><a href='http://localhost:53719/docs/' target="_blank">Clique aqui</a> para ver a documentação das APIs</li>
    <li>Inicie os testes das APIs criadas no menu 'Sandbox'</li>
</ul>
